/*
 * -------------------------------------------------
 *  RNAgrinder@KAUST: Analyzing RNASeq Dataset
 * -------------------------------------------------
 */

// default settings


params{
// IO params
cpus = 10
gtf="$projectDir/resources/gencode.v43.primary_assembly.basic.annotation.gtf"
help = false
index_dir = ""
input = "test/*R{1,2}_001.fastq.gz"
jobs = 2
k2db= "/data/temp/RNAgrinder"
mode="PE"
outdir="results"
ref = "$projectDir/resources/GRCh38.primary_assembly.genome.fa"
rrnaUse = "ribodetector"

//Markduplicates
opticalDupPixalDis = 2500


// Extra arguments supplier
fastp_ext = "--detect_adapter_for_pe --qualified_quality_phred 30 --length_required 75 --correction --adapter_fasta ${projectDir}/resources/adapters/TruSeq3-PE.fa"
fastqc_ext = '--quite'
readlen=100
rnaseqc_ext="--coverage"
sortmerna_ext= "--ref $PWD/resources/silva-euk-18s-id95.fasta --ref $PWD/resources/silva-euk-28s-id98.fasta"
staralign_ext="--limitBAMsortRAM 100000000000"
staridx_ext="--sjdbOverhang 99"

// Skip arguments
skipAlignment = false
skipKraken = false
skipRibo = false
skipTrim = false
}

//def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
  overwrite=true
  }

report {
  enabled = true
  file = "$params.outdir/report.html"
  overwrite=true
}

trace {
    enabled = true
    file    = "$params.outdir/execution_trace.txt"
  overwrite=true
}
dag {
    enabled = true
    file    = "$params.outdir/pipeline_dag.html"
   overwrite=true
}

